.users-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fix-witdh-name {
  width: 15%;
}
.fix-witdh-mail {
  width: 15%;
}

.fix-witdh-birth-day {
  width: 10%;
}

.fix-witdh-addess {
  width: 20%;
}

.fix-witdh-phone {
  width: 10%;
}

.fix-witdh-choice {
  width: 20%;
}