.users-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.users-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-witdh-name {
  width: 15%;
}

.fix-witdh-mail {
  width: 15%;
}

.fix-witdh-birth-day {
  width: 10%;
}

.fix-witdh-addess {
  width: 20%;
}

.fix-witdh-phone {
  width: 10%;
}

.fix-witdh-choice {
  width: 15%;
}

.d-flex {
  display: flex !important;
}

.fix-witdh-name-department {
  width: 50%;
}

.d-none {
  display: none;
}

.fix-witdh-content {
  width: 35%;
}

.fix-witdh-hour {
  width: 5%;
}

.fix-witdh-user-name {
  width: 10%;
}

.fix-witdh-project-name {
  width: 10%;
}

.set-padding {
  padding-top: 15px;
}

.fix-witdh-start-date {
  width: 15%;
}

.fix-witdh-end-date {
  width: 15%;
}

.box-all {
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  border:1px solid #3c8dbc;
  padding:10px;
  background-color:#fff;
}

.size-image {
  width: 25px;
  height: 25px;
  border: 1px solid darkgrey;
}
.size-image img {
  height: 100%;
  width: 100%;
}

.set-height {
  min-height: 600px !important;
}